/*@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*/
html 
{
	background: url(hands-vote.jpg) no-repeat center center fixed;
	-vebkit-background-size: cover;
	-noz-background-size:cover;
	-o-background-size: cover;
	background-size: cover;
}
.login-page {
	
  
  width: 1000px;
  padding: 0 0 0;
  margin: auto;
}
.form img {
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}


.form {
 width: 1000px;
	height: 400px;
	text-align: justify;
	background-color: rgba(5, 70, 94, .7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 50px;
}
.form input {
/*   font-family: sans-serif;
  outline: 0;

 
 
    background: #f2f2f2;
	border: 0;
  margin: 0 0 15px;
  padding: 15px;
 box-sizing: border-box;
    width: 100%;font-size: 14px; */
    	height: 25px;
	width: 250px;
	border: none;
	border-radius: 4px;
	font-weight: normal;
	font-family: "Calibri";
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 10px;	
}
h1{
color: #00ffff ;  
font-size: 60px; 
font-family: "Calibri";
font-weight: normal;
line-height: 1.1em;
margin-bottom: 1px;
	
}  
h2{
color: blue ;  
 font-size: 25px; 
font-family: Segoe Script;
font-weight: bold;
	line-height: 1.1em;
	
}  
.form p {
	
color: #00ffff ;  
font-size: 30px; 
font-family: "Calibri";
font-weight: normal;
margin-left:20px;
margin-right:20px;
}
#nav{
	padding-top : 175px;
	padding-right : 90px;
	
	width: 100%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 92px;
		}
			#nav ul li a{
				padding: 60px;
				background: #ff0000  ;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #8080ff;
			
			}
			#nav ul li a:active{ background-color: #80ffff; }


.form button
{
	padding: 5px 25px;
	margin-top: 10px;
	color: #fff;
	background-color: #ff0000;
	border: none;
	border-radius: 4px;
	border-bottom: 4px solod #27AE60;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ff0000;
}
.form .message {
  margin: 15px 0 0;
  font-family: "calibri";
  color: #b3b3b3;
  font-size: 15px;
}
.form .message a {
  color: #8080ff;
  text-decoration: none;
}
.form a:hover
{
	color: coral;
	font-weight: bold;
}

/* 
body {
  background: 			#228B22 ; fallback for old browsers
     
} */@CHARSET "ISO-8859-1";